@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    --Blue: hsl(248, 32%, 49%);

    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);

    --default-font: 16px;
}

body{
    margin: 0;
    padding: 0;
    background: url("images/bg-intro-mobile.png"), var(--Red);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    display: grid;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    width: 80%;
    margin-left: 10%;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 25%;
}

.info{
    margin-top: 6%;
    font-size: var(--default-font);
    color: white;
    opacity: 0.8;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.try-it{
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    background-color: var(--Blue);
    border-radius: 10px;
    height: 12vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--default-font);
    font-weight: 400;
    align-items: center;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.22); /* !!! */
}

.form{
    width: 90%;
    margin-top: 7%;
    padding-top: 2%;
    margin-left: 5%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.22);
    font-size: 12px;
    color: var(--Grayish-Blue);
    min-height: 55vh;
    margin-bottom: 6vh;
}

.form input[type=text], input[type=email], input[type=password]{
    width: 85%;
    margin-top: 5%;
    height: 7vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    padding: 0;
    padding-left: 5%;
}

.form input[type=button]{
    width: 90%;
    height: 7vh;
    background-color: var(--Green);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: 1px solid hsl(154, 57%, 35%);
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.1s;
    margin-bottom: 2%;
}

.input-holder{
    display: block;
    margin-left: 5%;
    margin-top: 1%;
    text-align: right;
    color: red;
    display: none;
    width: 90%; 
    font-weight: 500;
}

.form input[type=button]:hover{
    opacity: 0.8;
}

@media screen and (min-width: 800px) { /* jeśli szerokość jest większa od 800px */
    .container{
        grid-template-columns: 50% 50%;
    }
    .part1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .part2{
        margin-top: 4%;
    }
    .title{
        margin-top: 3%;
        font-size: 70px;
        line-height: 70px;
        text-align: left;
        margin-left: 5%;
    }
    .info{
        text-align: left;
        width: 80%;
        margin-top: 3%;
        font-size: 22px;
        margin-left: 5%;
    }
    .try-it{
        margin-top: 5%;
        flex-direction: row;
        height: 8vh;
        margin-left: 0;
    }
    .form{
        margin-top: 4%;
        margin-left: 0;
    }
    .form input[type=text], input[type=email], input[type=password]{
        height: 6vh;
    }
    
    .form input[type=button]{
        height: 6vh;  
        font-size: 17px; 
        letter-spacing: 1px;    
    }
  }